<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/edit_account.css">
    <title>My Account</title>
</head>
<body>
    <div class="login quicksand-light">
        <div class="form-container">
            <h1 class="title quicksand-bold">My account</h1>

            <form action="/" class="form">

                <div>
                    <label for="name" class="label quicksand-bold">Name</label>
                    <p class="value">Your name</p>
    
                    <label for="email" class="label quicksand-bold">Email address</label>
                    <p class="value">example@email.com</p>
        
                    <label for="password" class="label quicksand-bold">Password</label>
                    <p class="value">**********</p>
                </div>
    
                <input type="submit" value="Edit" class="secondary-button create-button quicksand-bold">
            </form>
        </div>
    </div>
</body>
</html>