<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/my_order.css">
    <title>My order</title>
</head>
<body>
    <div class="my-order quicksand-medium">
        <div class="my-order-container">
            <h1 class="title quicksand-bold">My order</h1>

            <div class="my-order-content">
                <div class="order">
                    <p>
                        <span>03.25.21</span>
                        <span>6 articules</span>
                    </p>
                    <p>$560.00</p>
                </div>
                
                <div class="shopping-cart">
                    <figure>
                        <img src="../icons/image-solid.svg" alt="Product image">
                    </figure>
                    <p>Product name</p>
                    <p>$30,00</p>
                </div>
                
                <div class="shopping-cart">
                    <figure>
                        <img src="../icons/image-solid.svg" alt="Product image">
                    </figure>
                    <p>Product name</p>
                    <p>$30,00</p>
                </div>
                
                <div class="shopping-cart">
                    <figure>
                        <img src="../icons/image-solid.svg" alt="Product image">
                    </figure>
                    <p>Product name</p>
                    <p>$30,00</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>