<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/product_detail.css">
    <title>Product detail</title>
</head>
<body>
    <aside class="product-detail quicksand-medium">
        <div class="product-detail-close">
            <img src="../icons/icon_close.png" alt="Close">
        </div>
        <img src="https://images.pexels.com/photos/867452/pexels-photo-867452.jpeg" alt="Product image">

        <div class="product-info">
            <p>$135,00</p>
            <p>Product name</p>
            <p>In this paragraph you can add a description of the product, details and information that can help the customer. Notice that this text is just like an example for the prototype</p>
            
            <button class="primary-button add-to-cart-button quicksand-bold">
                <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                Add to cart
            </button>
        </div>

    </aside>
</body>
</html>