<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/total.css">
    <script src="https://kit.fontawesome.com/2c66b09c28.js" crossorigin="anonymous"></script>
    <title>Total</title>
</head>
<body>
    <aside class="total quicksand-medium">
        <div class="total-container">
            <div class="up">

                <div class="total-return-button">
                    <i class="fa-solid fa-arrow-left"></i>
                    <a href="#" class="quicksand-bold">
                        Shopping cart
                    </a>
                </div>
        
                <div class="total-elements">
                    <div class="total-item">
                        <div>
                            <img src="../icons/image-solid.svg" alt="Product image">
                            <p>Product name</p>
                        </div>
                        <div>
                            <p>$120,00</p>
                            <i class="fa-solid fa-x"></i>
                        </div>
                    </div>
        
                    <div class="total-item">
                        <div>
                            <img src="../icons/image-solid.svg" alt="Product image">
                            <p>Product name</p>
                        </div>
                        <div>
                            <p>$120,00</p>
                            <i class="fa-solid fa-x"></i>
                        </div>
                    </div>
        
                    <div class="total-item">
                        <div>
                            <img src="../icons/image-solid.svg" alt="Product image">
                            <p>Product name</p>
                        </div>
                        <div>
                            <p>$120,00</p>
                            <i class="fa-solid fa-x"></i>
                        </div>
                    </div>
        
                    <div class="total-item">
                        <div>
                            <img src="../icons/image-solid.svg" alt="Product image">
                            <p>Product name</p>
                        </div>
                        <div>
                            <p>$120,00</p>
                            <i class="fa-solid fa-x"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="down">
                <div class="total-amount">
                    <p>Total</p>
                    <p>$5600,00</p>
                </div>
                <button class="primary-button checkout-button quicksand-bold">Checkout</button>
            </div>
        </div>
    </aside>
</body>
</html>